body {
    text-align: center;
    margin: 0 !important;
}

.content_container{
    position: relative;
    display: inline-block;
    width: 98%;
    height: 100px;
}
.box {
  display: flex;
}
.flex-row {
  flex-direction: row; 
}
.flex-col {
 flex-direction: column;
}


[contenteditable="true"] {
    visibility: none;
    border: 2px solid transparent;
    transition: border .5s;
}

[contenteditable="true"]:hover:not(:focus) {
    border: 2px solid lightblue;
}

[contenteditable="true"]:focus {
    outline: 2px solid transparent;
}

.header_error {
  border: 1px solid red !important;
}

#image_ref {
  max-height:300px; 
  max-width:300px;
  align-self: center;
  margin: 20px 0;
}

#image {
  min-width:300px;
  max-width:300px;
  align-self: center;
  margin-bottom: 20px;   
}




/* Navbar Styling */
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnavbtn > i {
  margin-top: 13%;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #ddd;
}

.no-color:hover, .no-color-either, .add-sub-btn:hover {
  background-color: transparent !important;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ddd;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.add-sub-btn:hover {
  background-color: transparent !important;
  color: black !important;
}
.subnav:hover .subnav-content {
  display: block;
}



/* Menu Dropdown Styling */

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content input {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 11px;
}
.dropdown-content input:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

